services:
  app-frontend:
    build:
      context: ./app-frontend
      dockerfile: Dockerfile
      args:
        - DOMAIN=${DOMAIN}
    ports:
      - '3000:3000'
    restart: always

  app-backend:
    build:
      context: ./app-backend
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    restart: always
  
  app-admin:
    build:
      context: ./app-admin
      dockerfile: Dockerfile
    ports:
      - '3001:3000'
    depends_on:
      - mongo
    environment:
      DATABASE_URI: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017
      PAYLOAD_SECRET: ${PAYLOAD_SECRET}
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - /etc/letsencrypt/live/${DOMAIN}:/etc/nginx/ssl/${DOMAIN}:ro
      - /etc/letsencrypt/live/www.${DOMAIN}:/etc/nginx/ssl/www.${DOMAIN}:ro
      - /etc/letsencrypt/archive/${DOMAIN}:/etc/nginx/archive/${DOMAIN}:ro
      - /etc/letsencrypt/archive/www.${DOMAIN}:/etc/nginx/archive/www.${DOMAIN}:ro
    ports:
      - '443:443'
    depends_on:
      - app-frontend
      - app-admin
      - app-backend
    restart: always

volumes:
  data: