# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
.next
out

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build and dependency tools
.DS_Store
*.swp
.vscode
.idea

# Ignore local tooling files
coverage
dist
tmp
.temp
